<launch>

  <!--
  <node pkg="realtime_perception" type="offscreen_test" name="offscreen_test" output="screen" launch-prefix="valgrind - -leak-check=full" >
  <node pkg="realtime_perception" type="offscreen_test" name="offscreen_test" output="screen" launch-prefix="gdb -ex run - -args">
  -->
  <node pkg="realtime_perception" type="offscreen_test" name="offscreen_test" output="screen" >
    <remap from="~input" to="/cloud_pcd" />
    <rosparam>
      models: 
        - model: "/ias_kitchen/kitchen_description"
          tf_prefix: /ias_kitchen
        - model: /robot_description
          tf_prefix: ""
      tf_prefix: /ias_kitchen
      #tf_prefix: ""
      model_description: /ias_kitchen/kitchen_description
      #model_description: /robot_description
      approximate_sync: true
    </rosparam>
  </node>

</launch>

