<launch>
  <node pkg="ias_data_acquisition_ptu" type="extract_clusters_on_table_node" name="extract_clusters" output="screen" respawn="false" args="free_view">
    <!-- Parameters --> 
    <param name="cluster_min_height" value="0.02"/>
    <param name="object_cluster_tolerance" value="0.05"/>
    <param name="object_cluster_min_size" value="50"/>
    <param name="nr_cluster" value="6"/>
    <param name="object_cluster_tolerance" value="0.05"/>
    <param name="downsample" value="false"/>
    <param name="voxel_size" value="0.015"/>
    <param name="save_to_files" value="true"/>
 </node>
</launch>
