<launch>
<!--   <node pkg="point_cloud_mapping" type="pcd_to_msg_node" name="pcd_to_msg_node" output="screen" respawn="true" -->
<!-- 	args="$(optenv pcd /home/marton/work/datasets/NICO/teapot_at0.pcd) $(optenv period 5)" /> -->

<!-- Rotational Object Estimator -->
<!--input: /rotational_estimation_node/cloud_pcd -->
<!--output: 
    /depth_image_triangulation_node/cloud_pcd - outliers after the rotational estimation
    TODO!!!
-->
<node pkg="cloud_algos" type="rotational_estimation_node" name="rotational_estimation_node" output="screen" respawn="true">
  <remap from="~cloud_pcd" to="cloud_pcd" />
  <param name="output_cloud_outliers" type="string" value="/depth_image_triangulation_node/cloud_pcd"/>
</node>

<!-- Point Cloud Triangulation Program -->
<!--input: /depth_image_triangulation_node/cloud_pcd -->
<!--output: /depth_image_triangulation_node/cloud_triangulated - resultant mesh
-->
<node pkg="cloud_algos" type="depth_image_triangulation_node" name="depth_image_triangulation_node" output="screen" respawn="true">
</node>


<node pkg="cloud_tools" type="triangular_mesh_to_vtk" name="triangular_mesh_to_vtk_node" output="screen" respawn="true">
  <param name="input_mesh_topic" type="string" value="mesh"/>
  <param name="output_vtk_file" type="string" value="mesh.vtk"/>
  <param name="nr_of_mesh_publishers" type="int" value="2"/>
</node>



<node pkg="topic_tools" type="relay" name="relay_rotational_estimation" args="/rotational_estimation_node/cloud_normals /triangular_mesh_to_vtk_node/mesh" respawn="false" output="screen"/>
<node pkg="topic_tools" type="relay" name="relay_depth_image_triangulation" args="/depth_image_triangulation_node/cloud_triangulated /triangular_mesh_to_vtk_node/mesh" respawn="false" output="screen"/>

</launch>
