<!-- Point Cloud Msg generator -->
<launch>
  <node pkg="point_cloud_mapping" type="pcd_to_msg_node" name="pcd_to_msg_node" output="screen" respawn="true"
 	args="$(optenv pcd /home/pangerci/work/iros_cad/hokuyo/pfh_denoise/teapot_handle_side-denoise.pcd) $(optenv period 15)" />
<!-- Rotational Object Estimator -->
<node pkg="cloud_algos" type="rotational_estimation_node" name="rotational_estimation_node" output="screen" respawn="true">
  <remap from="~cloud_pcd" to="/cloud_pcd" />
  <param name="output_cloud_outliers" type="string" value="/depth_image_triangulation_node/cloud_pcd"/>
  <param name="threshold" type="double" value="0.004"/>
  <param name="probability" type="double" value="0.99"/>
  <param name="max_iterations" type="int" value="100"/>
</node>
<!-- Point Cloud Triangulation Program -->
<node pkg="cloud_algos" type="depth_image_triangulation_node" name="depth_image_triangulation_node" output="screen" respawn="true">
</node>
<!-- Topic Concatenator -->
<node pkg="topic_tools" type="relay" name="relay_rotational_estimation" args="/rotational_estimation_node/cloud_normals /triangular_mesh_to_vtk_node/mesh" respawn="false" output="screen"/>
<node pkg="topic_tools" type="relay" name="relay_depth_image_triangulation" args="/depth_image_triangulation_node/cloud_triangulated /triangular_mesh_to_vtk_node/mesh" respawn="false" output="screen"/>
<!-- TriangularMesh to VTK Writer -->
<node pkg="cloud_tools" type="triangular_mesh_to_vtk" name="triangular_mesh_to_vtk_node" output="screen" respawn="true">
  <param name="input_mesh_topic" type="string" value="mesh"/>
  <param name="output_vtk_file" type="string" value="object.vtk"/>
  <param name="nr_of_mesh_publishers" type="int" value="1"/>
</node>
</launch>

