<launch>
   <node name="pcd_viewer1" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_yellow_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer2" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_purple_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer3" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_orange_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer4" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_yellow.pcd -bc 255,255,255 -ps 2" />
   <node name="pcd_viewer5" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_purple.pcd -bc 255,255,255 -ps 2" />
   <node name="pcd_viewer6" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_orange.pcd -bc 255,255,255 -ps 2" />
</launch>