<launch>
   <node name="pcd_viewer1" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_dice_purple_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer2" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_sphere_purple_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer3" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_purple_GRSD_CCHLAC.pcd" />
   <node name="pcd_viewer5" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_dice_purple.pcd -bc 255,255,255 -ps 2" />
   <node name="pcd_viewer6" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_sphere_purple.pcd -bc 255,255,255 -ps 2" />
   <node name="pcd_viewer7" pkg="pcl_visualization" type="pcd_viewer" args="$(find color_chlac)/demos/shape_data/noiseless_torus_purple.pcd -bc 255,255,255 -ps 2" />
</launch>